form( name='$ctrl.pru' ng-submit='$ctrl.submit($ctrl.pru)')
    nix-text(
        required='true'
        label='Buenas'
        ng-model='$ctrl.some'
        name='congas'
        frm="$ctrl.pru.congas")
    nix-select(
        required='true'
        name='cogos'
        label='Buncas'
        ng-model='$ctrl.sme'
        nx-data='$ctrl.nxData'
        frm="$ctrl.pru.cogos"
        )
    nix-auto(
        required='true'
        name='usu'
        label='Urcas'
        ng-model='$ctrl.uru'
        nx-data='$ctrl.nxData'
        frm="$ctrl.pru.usu"
    )
    button( type='submit') Fin
