div(layout='column', layout-align='center center')
	md-content(layout-padding flex)
		md-card-title
			md-card-title-text
			span.md-headline Gestor de usuarios
			p.md-body-1
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
	md-content(layout='row')
		
		
//-div(flex)http://plnkr.co/edit/OWwDCaYUjuN7fM5y5Btd?p=preview
	ul(dnd-list='$ctrl.models.lists.A')
		li(
			ng-repeat='item in $ctrl.models.lists.A'
			dnd-draggable='item'
			dnd-moved="$ctrl.models.lists.A.splice($index, 1)"
	        dnd-effect-allowed="move"
	        dnd-selected="$ctrl.models.selected = item"
	        ng-class="{'selected': $ctrl.models.selected === item}"
			) {{item.label}}

	div(flex)
		ul(dnd-list='$ctrl.models.lists.B')
			li(
				ng-repeat='item in $ctrl.models.lists.B'
				dnd-draggable='item'
				dnd-moved="$ctrl.models.lists.B.splice($index, 1)"
		        dnd-effect-allowed="move"
		        dnd-selected="$ctrl.models.selected = item"
		        ng-class="{'selected': $ctrl.models.selected === item}"
				) {{item.label}}


